$background: #F3F6FD;

* {
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
}

// Убрать стрелки при вводе
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}